*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --primarycolor: #1D1E25;
    --secondarycolor: #3870ff;
    --neutral: #7E8492;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 5.3% 26px 5.3%;
    width: 89.3%;
}
.logo{
    width: 32%;
}
.hamburguer{
    width: 6.4%;
    height: 24px;
}
section{
    margin: 0 5.3%;
}
.introduction h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 1rem;
    color: var(--primarycolor);
}
.introduction h1 span{
    color: var(--secondarycolor);
}
.introduction p{
    color: var(--neutral);
    margin-bottom: 2rem;
}

.buttons{
    display: flex;
    gap: 3.2%;
    align-items: center;
    margin-bottom: 12px;
}
.button1 p, .button2 p{
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.button1 p{
    background-color: var(--secondarycolor);
    padding: 14px 16px;
    color: #fff;
}
.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px #c2c2c2 solid;
    height: 49px;
    width: 180px;
    text-align: center;
}
.button2 p{
    color: var(--secondarycolor);
}

.stars{
    display: flex;
    gap: 9px;
    color: #1D1E25;
    font-weight: 500;
    line-height: 26px; 
}

.lecture{
    margin-top: 43px;
    width: 100%;
}

.sponsors{
    display: flex;
    justify-content: center;
    background-color: var(--secondarycolor);
    padding: 14px 0;
    margin-top: 48px;
}

.container2 h2{
    margin-top: 56px;
}
.information{
    display: flex;
    margin-top: 32px;
    gap: 16px;
}
.information h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px; 
    letter-spacing: -0.24px;
    color: var(--secondarycolor);
    margin-bottom: 12px;
}
.information h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    width: 162px;
    margin-bottom: 8px;
}
.information p{
    color: var(--neutral);
}

.meeting{
    width: 100%;
    margin: 32px 0 112px 0;
}
#text-content{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--neutral);
}
#title-content{
    color: var(--primarycolor);
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: -0.32px;
}
.things p{
    margin: 1rem 0 2rem 0;
}
.girls-meet{
    width: 100%;
}
.icons-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0 56px 0;
}
.texts{
    display: flex;
    width: 77.6%;
    gap: 16px;
}
.texts p{
    color: var(--primarycolor);
    font-weight: 500;
    line-height: 26px;
}
.video2{
    background-color: var(--secondarycolor);
    height: 569px;
    width: 100%;
}
.video2 p{
    padding: 16px 5.3% 22px 5.3%;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    color: #FAFBFA;
}
.video2 h2{
    padding: 56px 5.3% 0 5.3%;
    text-align: center;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.32px;
    color: #fff;
}
.meet{
    margin: -129px 5.3% 0 5.3%;
}

.brains{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 112px;
}
.speakers1 h3{
    color: var(--secondarycolor);
    font-size: 32px;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: -0.32px;
}
