*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 12px 5.3% 26px 5.3%;
    width: 335px;
}
.logo{
    width: 32%;
}
.hamburguer{
    
}
